img {
	max-width: 100%;
	height: auto;
padding-left: 15%;


}
body{
	background-image: url("https://i.ibb.co/JszfF50/dotbackground-01.png");
	
}

.container {
	width: 960px;
	max-width: 100%;
	padding: 20px;
	margin: 0 auto;
}

.main-header .container {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

.main-nav ul {
	margin: 1em .5em;
	padding-left: 15%;

}
.main-nav li {
	font-family: 'Bree Serif', serif;
	display: inline;

}
.main-nav a {
	display: inline-block;
	padding: .3em 2em;
	text-decoration: none;
	color:#3FA9F5;
	font-size: 2vh;
}
.main-nav a:hover{
	color: #FC7AA9;
}

