body 
{
    font-family: 'Muli', serif;
    background-image: url("https://images.pexels.com/photos/1831234/pexels-photo-1831234.jpeg?cs=srgb&dl=art-artistic-background-1831234.jpg&fm=jpg");
    background-repeat: no-repeat;
 	/*https://www.pexels.com/photo/pink-clouds-1831234/*/
}

a{
	padding: 14px 16px;
	
}

.right:hover{
	color:pink ;
}

p{
	padding:1vh 1vw;
	font-size: 24px;
}

.right{
	text-decoration: none;
	background-color: black;
	color:white;
	float: right;
}

.navbar{
	display: flex-start;
	font-size: 28px;
	padding: 1vh;
}

.active{
	color: black;
	text-decoration: none;
	padding:1vh;	
}




